* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto" "Times New Roman", Times, serif;
}
.header-container {
  background-color: rgb(234, 154, 114);
  padding: 3em;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.logo {
  width: 6em;
  height: auto;
  border-radius: 80px;
  border: solid black;
}
.links-container {
  display: flex;
  gap: 2em;
}
a {
  text-decoration: none;
  color: black;
}
.large-hero-container {
  display: flex;
  justify-content: center;
  gap: 12em;
}
.medium-hero-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  align-items: center;
  gap: 1em;
}
.hero-image {
  height: auto;
  width: 350px;
}
.hero-button {
  max-width: 5em;
  background-color: rgb(227, 113, 64);
  border-radius: 50px;
  color: white;
  border: none;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  gap: 3em;
}
.large-loaf-container {
  display: flex;
  gap: 1em;
}
.loaf-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}
.loaf-image {
  width: 300px;
  height: 200px;
  border: 8px solid rgb(235, 118, 0);
  border-radius: 50px;
}

.quote-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(241, 184, 113);
  padding: 4em;
  align-items: center;
}
.quote-container-small {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 300px;
}
.quote {
  text-align: left;
  font-style: italic;
  font-weight: 400;
}
.quote-author {
  align-self: flex-end;
  font-weight: 700;
  font-style: italic;
}
